/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.title {
    background-color: rgb(8, 72, 234);
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 20px 20px 0 0;
}

.sub-title {
    margin-bottom: 15px;
    color: rgb(8, 72, 234);
}


/*Form Container*/
.form-container {
    padding: 20px;
    max-width: 650px;
    margin: 0 auto;
    border: 3px solid rgb(8, 72, 234);
    border-radius: 20px;
    background-color: #f9f9f9;

    display:flex;
    flex-direction: column;
    gap: 15px;

}

/* Fieldset Styling */
fieldset {
    border: 2px solid rgb(8, 72, 234);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.submit-btn {
    background-color: rgb(8, 72, 234);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: rgb(5, 45, 146);
}

.wtsp-btn {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.wtsp-btn a {
    color: white;
    text-decoration: none;
}

.wtsp-btn:hover {
    background-color: #1DA851;
}

.timings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: inset;
}

.additional-services {
    margin-top: 20px;
}

.purpose{
    margin-top: 20px;
}

.guests{
    margin-top: 20px;
}

@media (max-width: 768px) {
    .form-container {
        padding: 15px;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 10px;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .form-container {
        padding: 5px;
        width: 100%;
    }
}
 
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .submit-btn, .wtsp-btn {
        width: 100%;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 18px;
    }

    .submit-btn, .wtsp-btn {
        width: 100%;
        font-size: 12px;
    }
}
@media (max-width: 320px) {
    .title {
        font-size: 16px;
    }

    .submit-btn, .wtsp-btn {
        width: 100%;
        font-size: 10px;
    }
}
